# ============================
#  ARCHIVOS PYTHON
# ============================
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/

# ============================
#  RESULTADOS DE EXPERIMENTOS
# ============================
results/
corrida_mop/

# ============================
#  VARIABLES DE ENTORNO
# ============================
.env